{% extends "error_base.html" %}

{% block content %}
<div class="page-header">
    <h1>Error 404 <small>Oopsie daisy</small></h1>
</div>
<p>The page you requested does not exist, but there are plenty of other cool
pages on the internet!</p>

<pre style="font: 10px/5px monospace;">                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    
                                                      ,                                             
                                              ;`     ;;;      ;`                                    
                                             :;;     ;;;:    ;;;                                    
                                             ;;;;   ;;;;;   ;;;;                                    
                                      ;;,    ;;;;; `;;;;;; ;;;;;;    ;;`                            
                                      ;;;;  ;;;;;;;;;;;;;;;;;;;;;  :;;;:                            
                                     .;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;                            
                                     :;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;                            
                               ;;;   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;   ;;;,                     
                               ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,                     
          .:                   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,                     
      ,   .;;                  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.                     
    `;:   ,;;;                 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.                     
   `;;;   ,;;;;          ;;;. `;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; `;;;:               
   ;;;;   :;;;;`         ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;               
  ;;;;;   :;;;;;         ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.               
  ;;;;;   ;;;;;;.        ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;                
  ;;;;;;  ;;;;;;;        ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;                
  ;;;;;;  ;;;;;;;        .;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;                
  ;;;;;;; ;;;;;;;   ;;:,,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.,:;;           
  ;;;;;;;`;;;;;;;  ,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;          
   ;;;;;;;;;;;;;;   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,          
   `;;;;;;;;;;;;`   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;           
    ;;;;;;;;;;;;     ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;           
     ;;;;;;;;;;`     ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;            
      :;;;;;;;;      ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;            
       `;;;;;;   `:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.        
         ;;;;   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;.      
         ;;;;   ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;+';;;;;;;;;;;;;;#+;;;;;;;;;;;;;;;;;;;;;;;;;;;.      
         .;;;;  ,;;;;;;;;;;;;;;;;;;;;;;;;;;;;:  @@@@;;;;;;;;;;  '@@';;;;;;;;;;;;;;;;;;;;;;;;;       
          ;;;;;  ;;;;;;;;;;;;;;;;;;;;;;;;;;;;    @@@#;;;;;;;;.   @@@;;;;;;;;;;;;;;;;;;;;;;;;        
           ;;;;;: ;;;;;;;;;;;;;;;;;;;;;;;;;;'    @@@@;;;;;;;#    @@@@;;;;;;;;;;;;;;;;;;;;;;`        
            ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@    @@@@';;;;;;@.   @@@@;;;;;;;;;;;;;;;;;;;;;;         
             ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@`  @@@@@+;;;;;;@@  ;@@@@;;;;;;;;;;;;;;;;;;;;;;;        
              ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@@@@@@@#;;;;;;@@@@@@@@@;;;;;;;;;;;;;;;;;;;;;;;;       
               ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@@@@@@@';;;;;;@@@@@@@@@;;;;;;;;;;;;;;;;;;;;;;;;;:     
              ,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@@@@@@@;;;;;;;@@@@@@@@@;;;;;;;;;;;;;;;;;;;;;;;;;;;    
             .;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@@@@@@;;;;;;;;@@@@@@@;;;;;;;;;;;;;;;;;;;;;;;;;;;;;`  
            `;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;@@@@@#;;;;;;;;;;@@@@#;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; 
            ;;;;;;;'++;;;;;;;;;;;;;;;;;;;;;;;;;;+;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;++++';;;;;;;; 
           ;;;;;;; '++++';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;++:+++.;;;;;; 
           ;;;;;;;  +++:+++';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'@@@@';;;;;;;;;;;;;;;;;'  +++ `;;;;;  
            ;;;;;;,  +++  +++++;;;;;;;;;;;;;;;;;;;;;;;;;;;;;+@+;;;;;@';;;;;;;;'+;;;;;   ++. ;;;;;:  
             ;;;;;;  `++,   ;+++++';;;;;;;;;;;;;;;;;;;;;;;;@@;;;;;;;;;@;;;;'+++;;;;;   +++  ;;;;;   
              ;;;;;.  ;++      :+++++++';;;;;;;;;;;;;;;;;;@#;;;;;;;;;;;@+++++';;;;;    ++   ;;;;    
               ;;;;;   ++:         .'+++++++++';;;;;;;;;;@#;;;;;;;;;;;;;@;  :;;;;;`   ;+`  :;;;:    
                ;;;;;   ++               `,'++++++++++++@@;;;;;;;;;;;;;;' `;;;;;;     ++   ;;;;     
                 ;;;;    ++                              ;;;;;;;;;;;;;;;;;;;;;;;     :+    ;;;      
                  ;;;;    +                             .        :;;;;;;;;;;;;,      +    ;;;.      
                   ;;;,   ,+                                       ;;;;;;;;;;       `'    ;;;       
                    ;;;    +                                      ;;;;;;;;;         +    ;;;        
                     ;;;    `                                    ;;;;;;;;;               ;;         
                      ;;;    @@@@@@@@#+'::,.``                 `;;;;;;;;;;'#@@@@@@@@    :;;         
                       ;;    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#;;;;;;;;;'@@@@@@@@@@@@    ;;          
                        ;;   @@@@@@@@@@@@@@@@@@@@@@@@@@@##';;;;;;;;;;;#@@@@@@@@@@@@@    ;           
                         ;  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@;;;;;;;;;;;;@@@@@@@@@@@@@@@@  ,;           
                          .#@@@@@@@@#';:.`                ,;;;;;;;;     `.,:'#@@@@@@@@ ;            
                                                             .,,                                    
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                    
</pre>

{% endblock %}
