{% extends "base.html" %}

{% block crumbs %}
<li><a href="{{ url_for('index') }}">Index</a></li>
<li class="active">Build {{ build.name }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Build {{ build.name }} <small>{{ build.jobs[0].commit }}</small></h1>
</div>

<div class="list-group">
    {% for job in build.jobs %}
    <a href='{{ job.url }}' class="list-group-item list-group-item-{% if job.all_passed %}success{% else %}danger{% endif %}">
        <span class="glyphicon glyphicon-{% if job.all_passed %}ok{% else %}remove{% endif %}" aria-hidden="true"></span>
        {{ job.job }} &mdash; {{ job.branch }} on {{ job.os }}/{{ job.rust_version }}
        <span class="text-muted">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            at {{ job.upload_time.strftime("%d.%m.%Y %H:%M:%S") }}
        </span>
    </a>
    {% endfor %}
</div>
{% endblock %}
